html{
    background-color: black;
}

/******************** Borders ********************/
.borders{
    border-radius: 25px;
    border: blue;
    border-style: solid; 
}
#outerBorders{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 620px;
    width: 450px;
}

#scoreBorder{
    position: fixed;
    top: 8%;
    left: 50%;
    width: 95%;
    height: 12%;
    transform: translate(-50%, -50%);
}

#lifeBorder{
    position: fixed;
    top: 96%;
    left: 50%;
    width: 95%;
    height: 5%;
    transform: translate(-50%, -50%);
}
/******************** Borders ********************/


/******************** Game board ********************/
#game{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.life{
    position: absolute;
    height: 25px;
    width: 25px;
    margin: 3px;
    background-color: yellow;
    border-radius: 100%;
}

.scoreBox{
    position:absolute;
    padding: 2.3em 0 0 0.5em;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    color: white;
}

.highscoreBox{
    position:absolute;
    padding: 0.5em 0 0 0.5em;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    color: white;
}

/******************** Game board ********************/




/******************** Game items ********************/
.wall{
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: blue;
    text-align: center;
    line-height: 50%;
    font-weight: bolder;
    z-index: -1;
}


.gum{
    position: absolute;
    margin: 4px;
    height: 7px;
    width: 7px;
    background-color: yellow;
    border-radius: 100%;
    z-index: -1;
}

.energizer{
    position: absolute;
    margin: 4px;
    height: 7px;
    width: 7px;
    background-color: violet;
    border-radius: 100%;
    z-index: -1;
}

.pacman{
    position: absolute;
    border: 7px solid yellow;
    border-color: yellow yellow yellow transparent;
    border-radius: 100%;
}

.ghost{
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 100% 100% 0 0;
}

#blinky{
    background-color: red;
}

#pinky{
    background-color: pink;
}

#clyde{
    background-color: orange;
}

#inky{
    background-color: lightskyblue;
}


/******************** Game items ********************/


/******************** Game menu ********************/
#gameover{
    position:absolute;
    font-family: 'Press Start 2P', cursive;
    color: white;
    left: 50%;
    top: 45%;
    letter-spacing: 0.2em;
    transform: translate(-50%, -50%);
    font-size: 3em;
    z-index: 1;
    
}

#START{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;    
}

#START img{
    width: 100%;

}
#START img:hover{
    cursor: pointer;
}

#reset{
    position:absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    z-index: 1;  
    font-size: 2em;
}
/******************** Game menu ********************/
